@import url(https://fonts.googleapis.com/css?family=Roboto:300,Muli);

/* Base formatting */
body {
	font-family: 'Muli', sans-serif;
	color: #3f484c;
}

/* Links */
a {
	text-decoration: none;
	color: #3f484c;
}

a:hover {
	text-decoration: none;
	color: #68777d;
}

a.external {
	font-weight: bold;
}

/* Images */
img.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

img.darken {
	-webkit-filter: brightness(35%);
	filter: brightness(35%);
}

img.whitewash{
	-webkit-filter: contrast(50%) brightness(200%);
	filter: contrast(50%) brightness(200%);
}

/* Navbar */
nav.navbar {
	margin-bottom: 1px;
}

nav.navbar-custom {
	background-color: #ffffff;
	border-color: #e7e7e7;
	text-align: center;
	font-size: 16pt;
	min-height: 53px; /* Min height = 56px*/
	padding-top: 1px;
	padding-bottom: 2px;
}

nav.navbar-custom button.navbar-toggle {
	border-color: #3f484c;
}

nav.navbar-custom button.navbar-toggle span.icon-bar {
	background-color: #3f484c;
}

nav.navbar-custom a.navbar-brand {
	font-size: 18pt;
	text-align: right;
	color: #3f484c;
}

nav.navbar-custom a.navbar-brand:hover {
	color: #3f484c;
}

nav.navbar-custom a.navbar-brand img {
	display: inline;
	vertical-align: top;
}

nav.navbar-custom ul.navbar-nav li {
	text-align: center; /* For mobile */
	text-transform: lowercase;
}

/* Footer */
footer {
	background-color: #1e2224;
	position: relative;
	bottom: 0;
	width: 100%;
	margin-top: 35px;
	font-size: 8pt;
	line-height: 2pt;
}

footer a:hover {
	color: #3f484c;
}

footer div.footer-text{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
