@import url(https://fonts.googleapis.com/css?family=Roboto:300,Muli);

/* Base formatting */
body {
	font-family: 'Muli', sans-serif;
	color: #3f484c;
}

div.container-content {
	max-width: 85%;
}

/* Links */
a {
	text-decoration: none;
	color: #3f484c;
}

a:hover {
	color: #68777d;
}

a.external {
	font-weight: bold;
}

/* Images */
img.fill {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.darken {
	background-image:
	linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5));
}

.whitewash{
	background-image:
	linear-gradient(
		rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.5));
}

/* Navbar */
nav.navbar {
	margin-bottom: 1px;
}

nav.navbar-custom {
	background-color: #ffffff;
	border-color: #e7e7e7;
	text-align: center;
	font-size: 16pt;
}

nav.navbar-custom a.navbar-brand {
	font-size: 18pt;
	text-align: right;
	color: #3f484c;
}

nav.navbar-custom a.navbar-brand :hover {
	color: #3f484c;
}

nav.navbar-custom a.navbar-brand img {
	display: inline;
	vertical-align: top;
}

nav.navbar-custom ul.navbar-nav li {
	text-transform: lowercase;
}
