/* Base formatting */
body {
	font-family: 'Muli', sans-serif;
	color: #3f484c;
}

/* Links */
a {
	text-decoration: none;
	color: #3f484c;
}

a:hover {
	color: #68777d;
}

a.external {
	font-weight: bold;
}

/* Display */
img.display {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* Header Bar */
/*
header {
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
}

nav ul.navbar-links {
	list-style-type: none;
	display: inline;
}

nav ul.navbar-links li {
	display: inline;
}

nav ul.navbar-links li #current {
	color: #68777d;
}
*/
