/* Display Jumbotron */
div.jumbotron.display {
	background-color: blue;
}

div.display-text {
	background-color: red;
	text-align: center;
}

div.display-text h1, div.display-text h2 {
	text-transform: lowercase;
}

div.display-text a {
	text-transform: uppercase;
}

