/* Display Jumbotron */
nav.navbar {
	margin-bottom: 1px;
}

#display {
	padding: 0px;
	min-height: 424px; /* Full height on 320x480px screen */
	height: calc(100% - 2*56px); /* Fallback */
	height: calc(100vh - 2*56px); /* 56px being navbar height */
	overflow: hidden;
	margin-bottom: 56px;
	background-color: #000000;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0.7),
		rgba(0, 0, 0, 0.4)),
	url("index.html.css img/cssmac.jpg");
	background-size: cover;
	background-position: center top;
	/* Wow flexbox wow */
	display: flex;
	justify-content: center;
	align-items: center;
}

#display div.display-text {
	text-align: center;
	color: #ffffff;
	width: 100%;
	height: auto;
	padding: 15px;
	margin-top: 0px;
	margin-bottom: calc(10vh - 11px); /* For better centering estimate */
}

#display div.display-text h1 {
	font-size: 16vmin;
	text-transform: lowercase;
}

#display div.display-text h2 {
	font-size: 6vmin;
	text-transform: lowercase;
}

#display div.display-text nav {
	padding-top: calc(4vmin + 10px);
}

#display div.display-text nav ul {
	list-style-type: none;
	display: inline;
	padding: 0px;
}

#display div.display-text nav ul li {
	display: inline;
}

#display div.display-text nav ul li a {
	color: #ffffff;
	font-size: 6vmin;
	text-transform: capitalize;
	padding-top: calc(2vmin + 5px);
	padding-bottom: calc(2vmin + 5px);
	padding-left: 3vmin;
	padding-right: 3vmin;
	border: 0.5vmin solid;
	border-color: #ffffff;
	margin-left: 2vmin;
	margin-right: 2vmin;
}

#display div.display-text nav ul li a:hover {
	background-color: #ffffff;
	color: #222222;
}

